.iconos a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 25px;
        }

.iconos a i:hover {
    color: rgb(141, 3, 6);
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
        }
    
.su-youtube {    
    text-align: center;
    }


#contactoSeccion {
    overflow: hidden;
    margin: 5px;
}

.subtituloSeccion {
    text-align: center;
}

#tituloContacto {
    text-align: center;
}

#tituloIndex {
    text-align: center;
    margin-top: 5px;
}
        
.site-footer {
    height: 100px;
        }